body {
    margin: 0;
    background-color: #e8e8ea;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

q {
    color: #454544;
    font-size:20px;
    text-align: center;
}

.black {
    background-color: #454544;
}

.container {
    align-items: center;
    padding: 40px 150px;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#top-picture {
    height: 100%;
    width: auto;
    flex-shrink: 2;
}

#title-name {
    padding-left: 20px;
    font-size: 38px;
    color: #e8e8ea;
    border-bottom: 3px #e8e8ea;

}

#profile-box {
    width: 300px;
    box-sizing: border-box;
}

#about-box {
    width: 300px;
    box-sizing: border-box;
}

nav {
    text-align: center;
    font-size: 18px;
}

.black-nav {
    text-decoration: none;
    color: #454544;
}

.boldblack-nav {
    text-decoration: none;
    color: #454544;
    font-weight: 700;
}

.white-nav {
    text-decoration: none;
    color: #e8e8ea;
}

.boldwhite-nav {
    text-decoration: none;
    color: #e8e8ea;
    font-weight: 700;
}

.institut {
    color: #e8e8ea;
    background-color: #151515;
    padding: 10px 15px;
    width: 300px;
}

.quote {
    text-align: center;
}

.project-frame {
    background-color: #151515;
    padding: 15px 10px 15px 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.project-name {
    color: #e8e8ea;
    text-align: right;
    margin-right: 15px;
}

.project-img {
    margin-left: 15px;
    width: 250px;
    height: auto;
    align-self: center;
    justify-self: center;
}

.contact-logo {
    width: 30px;
    height: auto;
}

.contact-detail{
    color: #e8e8ea;
    font-size: 20px;
    margin-left: 10px
}

footer {
    padding-bottom: 300px;
}